.app-header {
  background-color: #111111; 
  padding: 0.6rem 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5); 
  position: sticky;
  top: 0;
  z-index: 1000;
  border-bottom: 3px solid #1c1c1c; 
}

.app-header .container {
  max-width: 900px; 
  margin: 0 auto; 
  padding: 0 15px; 
}

.header-logo-area {
  display: flex;
  align-items: center;
  gap: 10px;
}

.pokebattle-logo-img {
  height: 50px; 
  filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.4)); 
}

.pokebattle-text {
  font-family: 'Kanit', sans-serif; /* Aplicar la fuente Kanit */
  font-size: 2.2rem; 
  font-weight: 700;
  color:#D8E5EA;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  white-space: nowrap;
  transition: color 0.3s ease;
}

.header-logo-area:hover .pokebattle-text {
  color: #CC0000; 
}